<h1>Superheroes List</h1>


<section id="powerHeroView">

  <select class="selectedPower" ng-model="selectedPower" ng-options="power for power in powers"></select>
  <button ng-click="sortHeroes()">Submit</button>

</section>

<section id="heroDisplay">

  <button ng-click="getSuperheroes()">See All Superheroes</button>

  <table class="heroesTable">
    <thead>
      <tr>
        <th>Alias</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>City</th>
        <th>Power</th>
        <th>delete</th>
      </tr>
    </thead>
    <tr ng-repeat="hero in heroes">
      <td>{{hero.alias}}</td>
      <td>{{hero.first_name}}</td>
      <td>{{hero.last_name}}</td>
      <td>{{hero.city}}</td>
      <td>{{hero.power_name}}</td>
      <td><button ng-click="deleteHero(hero._id)"></button></td>
    </tr>
  </table>
</section>
